
form label {
    font-weight: bold;
    text-align: right;
}

input[type="submit"] {
    font-weight: bold;
    background-color: #93b2ff;
    border-color: black;
    border-style: solid;
    border-width: 0.3mm;
}

input[type="submit"]:disabled {
    background-color: #cccccc;
}

.proceedBigButton {
    padding: 1em;
}

.proceedSmallButton {
    padding: 0.25em;
}

.roleHeader {
    text-align: center;
    background-color: gainsboro;
    font-style: italic;
    font-weight: bold;
}

.roleOddRow {
    text-align: center;
    background: gainsboro;
}

.roleEvenRow {
    text-align: center;
    background: white;
}
