/people/target/
/ajaxcities/target/
/ajaxevents/target/
/jacoco/target/
/tempfiles/target/
/faceletscomposition/target/
/stax-write/target/

/*/faces-config.NavData
/*/nb-configuration.xml

/stax-read/target/
/cryptohash/target/
/filevisitor/target/
/springmvcforms/target/
