/people/target/
/ajaxcities/target/
/ajaxevents/target/
/jacoco/target/
/tempfiles/target/
/faceletscomposition/target/
/stax-write/target/

/*/faces-config.NavData
/*/nb-configuration.xml

/stax-read/target/
/spring-mvc-hello/target/